In [1]:
from database import *
from drawer import *

In [2]:
data = Data("中化装备","15")
# data = Data("上证综合指数","d")
#000985.SH # 中证全指
#sh.000001 # 上证综指

# data = Data("sh.600622","d")
data.load()

line59:2025-03-11
===中化装备数据加载完成!数据日期为最新。===

In [3]:
data.get_sma(5)
data.get_sma(10)
data.get_sma(20)

# data.get_macd(self, short_window, signal_window, long_window)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
23979    8.3920
23980    8.3890
23981    8.3885
23982    8.3850
23983    8.3845
Name: SMA_20, Length: 23984, dtype: float64

In [4]:
data.sma

       SMA_5  SMA_10  SMA_20
0        NaN     NaN     NaN
1        NaN     NaN     NaN
2        NaN     NaN     NaN
3        NaN     NaN     NaN
4        NaN     NaN     NaN
...      ...     ...     ...
23979  8.352   8.357  8.3920
23980  8.348   8.354  8.3890
23981  8.352   8.354  8.3885
23982  8.356   8.354  8.3850
23983  8.370   8.363  8.3845

[23984 rows x 3 columns]

In [5]:
fig1 = Drawer(data = data.sma)
fig1.drawMA(5)

2025-03-12 01:59:28.663 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-12 01:59:28.664 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-12 01:59:28.665 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-03-12 01:59:29.851
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\0704\VSC_work\src\Quantitative_System\venvQuant\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-03-12 01:59:29.853 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [6]:
# data.set_strategy("均线",data.get_sma(5)<data.get_sma(10))
# data.get_strategy("均线")